body{
    font-family: 'Cabin', sans-serif;
}
h1{
    font-size: 50px;
}
.red-color{
    color: rgb(245, 99, 99);
}
.faxvele-contenar{
    display:flex;
    margin-bottom: 120px;
}
.half-width{
    width:50%;
    padding-left:5%;

}
.half-width img{
    width:80%;

}
.link{
    text-decoration:none;
    background-image:linear-gradient(red,green);
padding:10px 30px;
border-radius: 5px;
font-weight: 700;
}
.link{
    color:white;
    font-size: 18px;
    text-transform: capitalize;
}
.top{
    background-image:url("Untitled design.png");
    background-repeat:no-repeat ;
    background-size: 150px;
}
.half-width img{
    width:300px;
    margin-top:50px ;
}
.Driem-big{
    background-image:url(" pppp (1).png");
    background-repeat:no-repeat ;
    background-size: 200px;
    background-position: right;
    padding-bottom: 150px;
    }
    .experecen-item{
        width:40%;
 margin-left: 5%;
 margin-right: 5%;
 padding-left: 40px;
 border-radius: 20px;
 box-shadow: 10px 10px  20px chartreuse;
}
#wed-dv-ex{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#full-st-ex{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(189, 9, 144),tomato);
    border-image-slice: 1;   
}
footer p{
    text-align: center;
}